<section>
    <h1>Admin</h1>

    <div class="user" *ngIf="user; else loading">
        <div class="user-img">
            <img src={{user.avatar_url}} alt="an image of {{user.name}}">
        </div>
    
        <div class="user-info">
            <h3>{{user.name}}</h3>
            <p>{{user.login}}</p>
        </div>

        <div class="profile-section">
            <ul>
                <li>Number of repos:
                    <span>{{user.public_repos}}</span>
                </li>

                <li>Joined Github on
                    <span>{{created_date}}</span>
                </li>
            </ul>
        </div>
    </div>

    <ng-template #loading>
        <div class="loading-wrapper">
            <div class="spinner"></div>
        </div>
    </ng-template>
</section>